.body-mass-index-wrapper {
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 10px;
  opacity: 0.9;
}
.body-mass-index {
  color: rgb(0, 83, 200);
  font-weight: bold;
}
.thin {
  color: rgb(255, 88, 88);
}
.normal {
  color: rgb(0, 110, 254);
}
.overweight {
  color: rgb(237, 134, 0);
}
.obese {
  color: rgb(255, 88, 88);
}
.important-note {
  margin-top: 5px;
}
.important {
  color: rgb(255, 88, 88);
  font-weight: bold;
}
.statistics-recommendation {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 10px;
  opacity: 0.9;
}
.sort-wrapper {
  background: linear-gradient(43deg, rgba(255,252,252,1) 0%, rgba(3,215,99,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px 10px;
  width: 260px;
  border-radius: 10px;
  font-size: 20px;
}
.recommend-sort-by-year-wrapper, .recommend-sort-by-month-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.recommend-sort-by-year-wrapper label, .recommend-sort-by-month-wrapper label {
  cursor: pointer;
}
#recommend-sort-by-year, #recommend-sort-by-month {
  width: 110px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.sleep-activity, .meals-activity, .steps-activity, .physical-activity, .stress-activity {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.sleep-recommendation-label {
  color: rgb(112, 169, 250);
  font-size: 20px;
  font-weight: bold;
}
.good-sleep {
  background: linear-gradient(141deg, rgba(255,252,252,1) 0%, rgba(3,139,215,1) 100%);
}
.bad-sleep {
  background: linear-gradient(141deg, rgba(255,252,252,1) 0%, rgba(255,49,49,1) 100%);
}
.meals-recommendation-label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 178, 77);
}
.steps-activity-label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 176, 41);
}
.physical-activity-label {
  color: rgb(2, 195, 188);
  font-size: 20px;
  font-weight: bold;
}
.stress-activity-label {
  color: rgb(219, 3, 129);
  font-size: 20px;
  font-weight: bold;
}
.physical-activity {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 399.99px) {
  .sort-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    row-gap: 10px;
  }
  .recommend-sort-by-year-wrapper, .recommend-sort-by-month-wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    row-gap: 10px;
    align-items: center;
  }
  #recommend-sort-by-year, #recommend-sort-by-month {
    box-sizing: content-box;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
}