/*Reg-log style*/

.reg-field-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.reg-label {
  padding: 20px 10px;
  font-size: 30px;
  color: rgb(0, 139, 253);
  font-weight: bold;
}
.reg-field-wrapper {
  display: grid;
  grid-template-columns: 200px 300px;
  row-gap: 15px;
  position: relative;
}
.reg-field-wrapper label {
  text-align: right;
  margin-right: 20px;
  font-size: 20px;
}
.reg-field-wrapper input {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}
.reg-field-btns-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg-field-alert {
  position: absolute;
  bottom: 100px;
  height: 30px;
  white-space: nowrap;
  color: rgb(195, 0, 0);
  border: 2px solid rgb(195, 0, 0);
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}
.reg-form-reg-btn {
  margin-top: 50px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(0, 139, 253);
  border: none;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}
.reg-form-reg-btn:hover {
  background-color: rgb(47, 197, 252);
  box-shadow: 0px 0px 10px rgba(32, 121, 255, 0.7)
}
.reg-form-reg-btn:active {
  background-color: white;
  color: rgb(0, 139, 253);
  outline: 2px solid rgb(0, 139, 253);
}
.link-to-login {
  background-color: rgb(2, 192, 2);
  color: white;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s;
}
.link-to-login:hover {
  background-color: rgb(33, 222, 33);
  box-shadow: 0px 0px 10px rgba(1, 255, 73, 0.7);
}
.link-to-login:active {
  background-color: white;
  color:rgb(75, 193, 75);
  outline: 2px solid rgb(75, 193, 75);
}
.reg-success-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
.reg-success {
  position: absolute;
  top: 100px;
  padding: 100px 150px;
  background-color: rgb(46, 119, 244);
  color: white;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.reg-success-msg {
  color: white;
  border: 2px solid rgb(46, 119, 244);
}
.login-field-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.log-field-wrapper {
  display: grid;
  grid-template-columns: 200px 300px;
  row-gap: 20px;
}
.log-field-wrapper label {
  text-align: right;
  margin-right: 20px;
  font-size: 20px;
}
.log-field-wrapper input {
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}
.login-label {
  font-size: 30px;
  padding: 20px 10px;
  font-weight: bold;
  color: rgb(2, 192, 2);
}
.log-form-login-button {
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(2, 192, 2);
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s;
}
.log-form-login-button:hover {
  background-color: rgb(33, 222, 33);
  box-shadow: 0px 0px 10px rgba(1, 255, 73, 0.7);
}
.log-form-login-button:active {
  background-color: white;
  color:rgb(75, 193, 75);
  outline: 2px solid rgb(75, 193, 75);
}
.link-to-register {
  text-decoration: none;
  margin-top: 20px;
  color: white;
  background-color: rgb(0, 139, 253);
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.2s;
}
.link-to-register:hover {
  background-color: rgb(47, 197, 252);
  box-shadow: 0px 0px 10px rgba(32, 121, 255, 0.7)
}
.link-to-register:active {
  background-color: white;
  color: rgb(0, 139, 253);
  outline: 2px solid rgb(0, 139, 253);
}
.log-success-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  animation: fadeIn 1.5s;
}
.log-success {
  padding: 70px 100px;
  background-color: rgb(13, 211, 9);
  color: white;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  word-break: keep-all;
}
.logged-success {
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
}
.log-menu {
  position: absolute;
  padding: 10px 10px;
  background: linear-gradient(27deg, rgba(0,134,255,1) 0%, rgba(50,201,70,1) 100%);
  top: 50px;
  right: 0px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
}
.remember-me-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.remember-me-label {
  font-size: 20px;
  cursor: pointer;
}
#remember-me {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.settings-btn, .delete-acc-btn, .log-out-btn {
  text-decoration: none;
  position: relative;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.settings-btn:hover, .delete-acc-btn:hover, .log-out-btn:hover {
  background-color: rgb(0, 105, 157);
}
.confirm-wrapper {
  position: absolute;
  font-size: 20px;
  top: -40px;
  left: -100px;
  padding: 10px;
  display: flex;
  width: 300px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid black;
  z-index: 2;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}
.delete-acc-confirm-btn {
  margin: 10px 0px;
  padding: 5px 10px;
  font-size: 20px;
  border: 2px solid rgb(0, 139, 253);
  background-color: white;
  color: rgb(0, 139, 253);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}
.delete-acc-confirm-btn:hover {
  box-shadow: 0px 0px 10px rgba(32, 121, 255, 0.7);
}
.delete-acc-confirm-btn:active {
  color: white;
  background-color: rgb(0, 139, 253);
}
.delete-acc-cancel-btn {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(195, 0, 0);
  transition: 0.2s;
}
.delete-acc-cancel-btn:hover {
  box-shadow: 0px 0px 10px rgb(200, 0, 0);
}
.delete-acc-cancel-btn:active {
  background-color: white;
  color: rgb(195, 0, 0);
  outline: 2px solid rgb(195, 0, 0);
}
.log-field-btns-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
} 
.log-field-alert {
  position: absolute;
  bottom: 100px;
  height: 30px;
  white-space: nowrap;
  color: rgb(195, 0, 0);
  border: 2px solid rgb(195, 0, 0);
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 699.99px) {
  .reg-field-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-sizing: border-box;
    background: linear-gradient(270deg, rgba(103,223,237,1) 0%, rgba(0,130,198,1) 100%);
    padding: 15px 20px 20px;
    border-radius: 20px;
  }
  .log-field-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-sizing: border-box;
    background: linear-gradient(270deg, rgba(103,237,103,1) 0%, rgba(0,130,198,1) 100%);
    padding: 15px 20px 20px;
    border-radius: 20px;
    row-gap: 10px;
  }
  .log-field-wrapper label {
    text-align: left;
    color: white;
  }
  .log-field-wrapper input {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
  }
  .reg-field-wrapper label {
    text-align: left;
    color: white;
  }
  .remember-me-field {
    background: linear-gradient(90deg, rgba(103,237,103,1) 0%, rgba(0,130,198,1) 100%);
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
  }
  .logged-success {
    color: rgb(0, 73, 162);
    border: 2px solid rgb(0, 73, 162);
  }
  .log-menu > div {
    border: 2px solid white;
    margin: 2px 0px;
  }
  .confirm-wrapper {
    top: -56px;
    left: -12px;
    width: 100%;
  }
}
@media (max-width: 399.99px) {
  .reg-field-wrapper {
    width: 100%;
  }
  .log-field-wrapper {
    width: 100%;

  }
}
